$grey:#ced4da;

.dropdown.bootstrap-select {
    width: 100% !important;
}

.group-item {
    line-height: 2.5;
    margin-bottom: 4px;
    &:hover {
        background-color: rgba(0,0,0,.075);
    }
}

.group-item.disabled {
  pointer-events: none;
}
.row-header {
    line-height: 2.1;
    border-bottom: solid 1px $grey;
    border-top: solid 1px $grey;
    font-weight: 600;
    margin-bottom: 8px;
}
.row-header-sm {
  border: none;
  font-weight: 600;
}

@media (max-width: 991px) {
    .group-item {
        line-height: 3.5;
        &:hover {
            background-color: inherit;
        }
    }
    .group-item-new {
        line-height: 3.5;
    }
    .action-col {
        border-bottom: solid 1px $grey;
        padding-bottom: 10px;
    }
    .form-control {
        height: 39px;
    }
}
