<template name="cluster_groups">
    <div class="card border-light m-2">

        <div class="card-body">
            {{> cluster_group_list }}
        </div>
    </div>
</template>

<template name="cluster_group_list">
    <form class="needs-validation" novalidate>
        <div class="pl-0 container-fluid">
            {{#if groups}}
            <div class="d-none d-lg-block row-header">
                <div class="row">
                    <div class="col-lg-2">Name</div>
                    <!-- <div class="col-lg-1">Owner</div> -->
                    <div class="col-lg-5">Clusters</div>
                    <div class="col-lg-3">Action</div>
                </div>
            </div>
            {{/if}}

            {{#if showNoGroupsMessage}}
              {{> no_groups }}
            {{/if}}

            {{#each group in groups}}
                <div class="row group-item" data-name={{group.name}} data-id="{{group.uuid}}">
                    <div class="col-lg-2">
                        <div class="d-block d-lg-none row-header-sm">Name</div>
                        <div>{{group.name}}</div>
                    </div>
                    <!-- 
                    <div class="col-lg-1">
                      <div class="d-block d-lg-none row-header-sm">Owner</div>
                      <div>{{owner group.owner}} </div>
                    </div> 
                    -->
                    <div class="col-lg-5">                                   
                    {{#if editMode group.uuid}}
                        {{> clusters_select currentClusters=(getCurrentClusters group) group=group }}
                    {{else}}
                        {{> clusters_in_group group=group }}
                    {{/if}}
                    </div>
                    {{#if editMode group.uuid}}
                        <div class="col-lg-3 action-col">
                            <div class="d-block d-lg-none row-header-sm">Action</div>
                            <button class="btn btn-primary rounded-0 js-update-label" data-id="{{group.uuid}}">Save</button>
                            <button class="btn btn-warning rounded-0 js-cancel-add-label">Cancel</button>
                        </div>
                    {{else}}
                    <div class="col-lg-3 action-col">
                        <div class="d-block d-lg-none row-header-sm">Action</div>
                        <button class="btn btn-link js-label-remove {{buttonStatus}} pl-0" data-name="{{group.name}}" alt="remove this cluster group from RazeeDash"> Delete </button>
                        <div class="modal js-delete-label-modal action-col" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Remove "{{group.name}}"</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to remove the <strong>"{{group.name}}"</strong> cluster group?</p>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-link js-cancel-delete-label">Cancel</button>
                                        <button type="button" class="btn btn-primary js-delete-label-confirm">Delete</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            {{/each}}
            {{#if showNewGroupRow }}
                <div class="row group-item-new js-new-group-row">
                    <div class="col-lg-2">                                   
                        <div class="d-block d-lg-none row-header-sm">Name</div>
                        <input type="text" name="groupName" class="form-control" required autofocus/>
                        <div class="invalid-feedback"> Please enter a unique name </div>
                    </div>
<!-- 
                    <div class="col-lg-1">
                        <div class="d-block d-lg-none row-header-sm">Owner</div>
                        <input type="text" name="groupOwner" value="{{owner currentUser._id}}" class="form-control" disabled/>
                    </div> 
                -->
                    <div class="col-lg-5">                                   
                        {{> clusters_select }}
                    </div>
                    <div class="col-lg-3 action-col">
                        <div class="d-block d-lg-none row-header-sm">Action</div>
                        <button class="btn btn-primary rounded-0 js-add-label">Save</button>
                        <button class="btn btn-warning rounded-0 js-cancel-add-label">Cancel</button>
                    </div>
                </div>
            {{/if}}
        </div>
    </form>
    {{#unless showNewGroupRow}}
        <div>
            <button class="mt-2 btn btn-link js-create-label pl-0 {{buttonStatus}}" type="submit">Add {{> icon_plus }}</button>
        </div>
    {{/unless}}
</template>

    <!-- <span class="js-cluster-group-items"> -->
    <!-- </span> -->
    <!-- <div class="js-cluster-group-items">{{ clustersInGroup }}</div> -->
<template name="clusters_in_group">
    <div class="cluster-list"> 
    {{#each cluster in clustersInGroup}}
        <!-- <a href="#" class="badge badge-primary">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        <!-- </a> -->
          <span class="pr-2">{{cluster}}</span>
    {{/each}}
    </div>
</template>

<template name="no_groups">
  <div class="row"> 
    <div class="col">
      <h3>No cluster groups yet</h3>
    </div>
  </div>  
  <div class="row mt-2"> 
    <div class="col">
      Create your first cluster group by clicking the Add link.
    </div>
  </div>  
</template>

<template name="clusters_select">
    <!-- {{#if groups}} -->
    <select class="selectpicker js-cluster-select" data-id="{{group.uuid}}" multiple data-live-search="true" title="Add clusters" data-style="bg-light">
        {{#each cluster in clusters}}
           <option {{selectStatus cluster}} data-id="{{cluster.cluster_id}}" data-name="{{getClusterName cluster}}">{{getClusterName cluster}}</option>
          <!-- {{> select_option cluster=cluster}} -->
        {{/each}}
    </select>
    <div class="invalid-feedback"> Please choose a cluster group</div>
    <!-- {{else}} -->
        <!-- {{> NoGroups}} -->
    <!-- {{/if}} -->
</template>

<template name="select_option">
    <option {{selectStatus}}>{{getClusterName cluster}}</option>
</template>
